.body-inner {
  background-color: #e3f0f1;
}

.body-inner .book-header {
  background-color: #0c8da0;
  color: white;
}

.book .body-inner .book-header a {
  color: white;
}

.book .body-inner pre.prettyprint {
  background-color: #001c20 !important;
}

.book .book-body .page-wrapper .page-inner section.normal p.code-filename {
  border: 1px solid rgba(0,0,0,0.1) !important;
  margin-bottom: 0;
}
